<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page :: My🙂Face</title>
    <link rel="stylesheet" href="/styles/allPageStyle.css"/>
    <link rel="stylesheet" href="/styles/allPostStyle.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div th:replace="fragments/navbar.html :: navbar"></div>
<a href="/posts/create" class = "postnav">New Post</a>


<main>
    <h2>All Posts</h2>
    <ol class = "postlist">
        <li th:each="post: ${model.posts}" >
            <p>Sender - <span th:text="${post.Sender.DisplayName}"/></p>
            <p>Receiver - <span th:text="${post.Receiver.DisplayName}"/></p>
            <img th:src="${post.Image}" alt="Message Picture" class="profimg"/>
            <p th:text="${post.Message}"/>
        </li>
    </ol>

    <a th:href="${model.previousPageUrl}">Previous</a>
    <a th:href="${model.nextPageUrl}">Next</a>
</main>

</body>
</html>