<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page :: My🙂Face</title>
    <link rel="stylesheet" href="/styles/allPageStyle.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div th:replace="fragments/navbar.html :: navbar"></div>

<main>
    <h1>Create Post</h1>
    <form th:action="@{/posts/create}" method="post">

        <label> From
            <select name="sender.id">
                <option th:each="user :${model.users}" th:value="${user.Key}">
                    <span th:text="${user.Value}"></span>
                </option>
            </select>
        </label>

        <label> To
            <select name="receiver.id">
                <option th:each="user :${model.users}" th:value="${user.Key}">
                    <span th:text="${user.Value}"></span>
                </option>
            </select>
        </label>

        <label> Image URL
            <input type="text" name="image">
        </label>

        <label> Message
            <input type="text" name="message">
        </label>

        <input type="submit" value="Submit Post">
    </form>
</main>

</body>
</html>