<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page :: My🙂Face</title>
</head>

<body>

<section>
    <h1>Create Post</h1>
    <form th:action="@{/posts/create}" method="post">

        <label> From </label>
        <select name="sender.id">
            <option value="5">Carleen Allan</option>
            <option value="6">Sophie Dinwoodie</option>
            <option value="7">Launce Luttger</option>
        </select>

        <label> To </label>
        <select name="receiver.id">
            <option value="5">Carleen Allan</option>
            <option value="6">Sophie Dinwoodie</option>
            <option value="7">Launce Luttger</option>
        </select>

        <label> Image URL </label>
        <input type="text" name="image">

        <label> Message </label>
        <input type="text" name="message">

        <input type="submit" value="Submit Post">
    </form>
</section>

</body>
</html>