<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page :: My🙂Face</title>
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="posts">Post</a>
    <a href="users">User</a>
</nav>

<section>
    <h1>Create Post</h1>
    <form th:action="@{/posts/create}" method="post">

        <label> From </label>
        <select name="sender.id">
            <option th:each = "user :${model.users}" th:value="${user.Key}">
                <span th:text = "${user.Value}"></span>
            </option>
        </select>

        <label> To </label>
        <select name="receiver.id">
            <option th:each = "user :${model.users}" th:value="${user.Key}">
                <span th:text = "${user.Value}"></span>
            </option>
        </select>

        <label> Image URL </label>
        <input type="text" name="image">

        <label> Message </label>
        <input type="text" name="message">

        <input type="submit" value="Submit Post">
    </form>
</section>

</body>
</html>