<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page :: My🙂Face</title>
</head>

<body>
<nav>
    <a href="/">Home</a>
    <a href="posts">Post</a>
    <a href="users">User</a>
</nav>

<a href="/users/create">Create New User</a>

<h1>All Users Page</h1>
<ol>
    <li th:each="user: ${model.users}">
        <p th:text="${user.Id}"/>

        <a th:href="@{users/{id}(id = ${user.Id})}">
            <p th:text="${user.Username}">
            </p>
        </a>

        <img th:src="${user.ProfileImage}" alt="Profile Picture">
    </li>
</ol>

<a href="users?page=1">1</a>
<a href="users?page=2">2</a>
</body>
</html>