<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page :: My🙂Face</title>
    <link rel="stylesheet" href="/styles/userStyle.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div th:replace="fragments/navbar.html :: navbar"></div>

<main>
    <h1 class="title">Create New User</h1>
    <form th:action="@{/users/create}" method="post" class="userInputs" onsubmit="return formValidation()">
        <label> First Name
            <input type="text" name="firstName" class="inputFields" id="firstName" oninput="fieldValidation('firstName')">
        </label>

        <label> Last Name
            <input type="text" name="lastName" class="inputFields" id="lastName" oninput="fieldValidation('lastName')">
        </label>

        <label> Username
            <input type="text" name="username" class="inputFields" id="username" oninput="fieldValidation('username')">
        </label>

        <label> Email
            <input type="text" name="email" class="inputFields" id="email" oninput="fieldValidation('email')">
        </label>

        <label> Profile Image URL
            <input type="text" name="profileImage" class="inputFields" id="profileImage" >
        </label>

        <label> Banner Image URL
            <input type="text" name="bannerImage" class="inputFields" id="bannerImage">
        </label>

        <input type="submit" value="Submit Information" class="submitField" id="submit">
    </form>
</main>
<script src="/javascript/formVal.js"></script>
</body>
</html>